.section {
  border-radius: 30px 30px 0px 0px;
  width: 100%;
  background-color: rgb(240, 239, 239);
  padding-left: 15px;
  padding-right: 15px;
  font-family: $text;
  margin-top: -100px;
  position: relative;

  .title_heart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-family: $title;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  .heartIcon {
    @include menu-heartIconStyle;
    color: $lightgrey;
  }
  i.fas.fa-heart {
    font-size: 1.7rem;
  }

  .heartIcon:hover,
  .heartIcon:active,
  .heartIcon-menu:hover,
  .heartIcon-menu:active {
    animation: heart-anim 1s ease;
    animation-fill-mode: forwards;
    cursor: pointer;
  }

  @keyframes heart-anim {
    from {
      -webkit-text-fill-color: transparent;
      background-size: 100%;
    }

    to {
      -webkit-text-stroke: initial;
      color: transparent;
      background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
      background-size: 100%;
      -webkit-background-clip: text;
    }
  }

  h3 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 29px;
    border-bottom: 3px solid black;
    width: 40px;
  }
  .contain_menu_prix {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 60px;
    // padding: 10px 0px 10px 10px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;

    .price {
      width: 20%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .anim_1 {
      animation: apparition 0.8s ease-out;
    }
    .anim_2 {
      animation: apparition 0.8s ease-out;
    }
    .anim_3 {
      animation: apparition 0.8s ease-out;
    }


    &:hover {
      justify-content: none;
      .animation {
        width: 65px;
        display: flex;
      }
      .fa-check-circle {
        transform: rotate(360deg);
        transition: 0.8s;
      }
    }

  }
  .contain_menu_prix_anim_1{
    @extend .contain_menu_prix;
    animation: apparition 0.8s ease-out;
  }
  .contain_menu_prix_anim_2{
    @extend .contain_menu_prix;
    animation: apparition 1s ease-out;
  }
  .contain_menu_prix_anim_3{
    @extend .contain_menu_prix;
    animation: apparition 1.3s ease-out;
  }
  .contain_menu_prix_anim_4{
    @extend .contain_menu_prix;
    animation: apparition 1.6s ease-out;
  }



  @keyframes apparition {
      from {
        opacity: 0;
        transform: translateY(100px);
      }
      to {
        opacity: 1;
        transform: translateY(0px);
      }
    }

  h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 13px 0px 5px 10px;
  }

  p {
    margin-right: 10px;
    margin: 0px 0px 13px 10px;
  }

  .contain_menu_prix_title {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;

    p {
      overflow: hidden;
      text-overflow: ellipsis;

      margin-top: 3px;
      font-size: 0.9rem;
      font-weight: 100;
    }
  }
  p {
    align-self: flex-end;
    margin-right: 20px;
    font-weight: 600;
  }

  button {
    @include btn_style;
    width: 200px;
    text-align: center;
    display: flex;
    margin: 55px auto;
    justify-content: center;
  }

  i {
    display: block;
  }


  .animation {
    overflow: hidden;
    width: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $tertiaire;
    // animation: slide-left 0.6s linear both;
    transition: width 0.8s linear;
  }
}
