.container_fonctionnement{
    max-width: 380px;
    height: auto;
    font-family: $text;
    padding: 45px 20px ;
    margin: 0px auto;

    h3{
        font-size:1.9rem;

    }
    .circle_number{
        @include verticalCenter;
        position: relative;
        width: 27px !important;
        height: 27px !important;
        border-radius: 50%;
        top: 50px;
        background: $primary;
        color: white
    }
    a{
        @include verticalCenter;
        justify-content: space-between;
        max-width:310px;
        height: 20px;
        margin-right: auto;
        margin-left: auto;
        padding: 37px 50px;
        background-color: $lightgrey;
        border-radius: 20px;
        text-align: center;
        font-weight: 400;
        box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.1);

    }

    i{
        color: rgb(153, 151, 151)
    ;
    }

    #bleu{
        background-color: #F2EAFB;
    }
    .fa-store{
        color: $primary;
    }
}
@media screen and (min-width: 740px){
    .container_fonctionnement{
        width: 80% !important;
        text-align: center;

        .container_contain_fonctionnement{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 0px auto;


            a{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 140px;
                margin-left: 20px;
                margin-top: 30px;
                font-size: 1.15rem;
                padding: 70px 70px;

                
            }

            i{
                margin-bottom: 15px;
            }

        }
        
        .circle_number{
            display: none;
        }
    }


}
