@import "../settings";

.localisation {
    width: 100%;
    height: 40px;
    background: #ececec;
    font-family: $text;
    font-size: 1rem;
    @include verticalCenter;

    i{
      margin-right: 13px;
    }
}
.container_reservation{
  width: 100%;
  height: auto;
  text-align: center;
  background-color: $lightgrey;
  padding: 40px 33px ;
  font-family: $text;

  h2{
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: 900;
  }
  p{
    font-weight: 100;
    font-size: 1.25rem;
    color: #929191;

  }

  button{
    margin: 25px auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include btn_style;
    max-width: 59vw;
    height: 9vh;
  }
}
@media screen and (min-width: 740px){
  button{
    max-width: 45vw !important;
  }
}
  

  