@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Shrikhand&display=swap");

$text: "Roboto";
$title: "Shrikhand";

$primary: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
$black: black;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}
