@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}
header h1 {
  text-align: center;
  font-family: "Shrikhand";
  font-size: 2rem;
}
header i {
  position: relative;
  right: 73px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.localisation {
  width: 100%;
  height: 40px;
  background: #ececec;
  font-family: "Roboto";
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.localisation i {
  margin-right: 13px;
}

.container_reservation {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #f9f9f9;
  padding: 40px 33px;
  font-family: "Roboto";
}
.container_reservation h2 {
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: 500;
}
.container_reservation p {
  font-weight: 100;
  font-size: 1.25rem;
  color: #929191;
}
.container_reservation button {
  margin-top: 25px;
  border-radius: 30px;
  padding: 18px 15px;
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  width: 55vw;
  height: 9vh;
}

.container_fonctionnement {
  width: 100%;
  height: auto;
  font-family: "Roboto";
  padding: 45px 20px;
}
.container_fonctionnement h3 {
  font-size: 1.9rem;
}
.container_fonctionnement .circle_number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 27px !important;
  height: 27px !important;
  border-radius: 50%;
  top: 50px;
  background: #9356dc;
  color: white;
}
.container_fonctionnement a {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 92%;
  height: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 37px 50px;
  background-color: #f9f9f9;
  border-radius: 20px;
  text-align: center;
  font-weight: 400;
  box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.1);
}
.container_fonctionnement i {
  color: #929191;
}
.container_fonctionnement #bleu {
  background-color: #F2EAFB;
}
.container_fonctionnement .fa-store {
  color: #9356dc;
}

section {
  width: 100%;
  height: auto;
  padding: 45px 17px;
  font-family: "Roboto";
  background-color: #f9f9f9;
}
section .new {
  position: relative;
  padding: 5px 7px;
  background: #99e2d0;
  top: 68px;
  left: 290px;
  font-weight: 700;
  color: #578378;
}
section h3 {
  font-size: 2rem;
  font-weight: 500;
}
section .contain_restaurant {
  width: 100%;
  height: auto;
  border-radius: 17px 17px 17px 17px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}
section .contain_img {
  width: 100%;
  height: 180px;
  margin-top: 30px;
}
section .contain_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 17px 17px 0px 0px;
}
section .contain_txt {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 14px;
}
section .contain_txt h4 {
  font-size: 1.2rem;
}
section .contain_txt p {
  margin-top: 3px;
  font-weight: 100;
}
section .contain_txt .heartIcon {
  font-size: 4rem;
  color: #f9f9f9;
  -webkit-text-stroke: 2px black;
  color: #f9f9f9;
  display: flex;
}
section .contain_txt i.fas.fa-heart {
  font-size: 1.7rem;
}
section .contain_txt .heartIcon:hover,
section .contain_txt .heartIcon:active,
section .contain_txt .heartIcon-menu:hover,
section .contain_txt .heartIcon-menu:active {
  animation: heart-anim 1s ease;
  animation-fill-mode: forwards;
  cursor: pointer;
}
@keyframes heart-anim {
  from {
    -webkit-text-fill-color: transparent;
    background-size: 100%;
  }
  to {
    -webkit-text-stroke: initial;
    color: transparent;
    background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
    background-size: 100%;
    -webkit-background-clip: text;
  }
}

footer {
  width: 100%;
  height: auto;
  background: #202020;
  color: white;
  padding: 30px 20px;
  font-family: "Roboto";
}
footer a {
  color: white;
}
footer h4 {
  font-size: 1.25rem;
  font-family: "Shrikhand";
  margin-bottom: 10px;
}
footer ul li {
  line-height: 30px;
}
footer ul li .fa-utensils {
  margin-right: 15px;
}
footer ul li .fa-hands-helping {
  margin-right: 10px;
}

.container_img_french {
  height: 300px;
  width: 100%;
  margin-bottom: 30px;
}
.container_img_french img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section {
  border-radius: 30px 30px 0px 0px;
  width: 100%;
  background-color: #f0efef;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Roboto";
  margin-top: -100px;
  position: relative;
}
.section .title_heart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section .title_heart h2 {
  font-family: "Shrikhand";
  font-size: 1.5rem;
  font-weight: 500;
}
.section .heartIcon {
  font-size: 4rem;
  color: #f9f9f9;
  -webkit-text-stroke: 2px black;
  color: #F0EFEF;
}
.section i.fas.fa-heart {
  font-size: 1.7rem;
}
.section .heartIcon:hover,
.section .heartIcon:active,
.section .heartIcon-menu:hover,
.section .heartIcon-menu:active {
  animation: heart-anim 1s ease;
  animation-fill-mode: forwards;
  cursor: pointer;
}
@keyframes heart-anim {
  from {
    -webkit-text-fill-color: transparent;
    background-size: 100%;
  }
  to {
    -webkit-text-stroke: initial;
    color: transparent;
    background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
    background-size: 100%;
    -webkit-background-clip: text;
  }
}
.section h3 {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 29px;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
}
.section .contain_menu_prix, .section .contain_menu_prix_anim_4, .section .contain_menu_prix_anim_3, .section .contain_menu_prix_anim_2, .section .contain_menu_prix_anim_1 {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}
.section .contain_menu_prix .price, .section .contain_menu_prix_anim_4 .price, .section .contain_menu_prix_anim_3 .price, .section .contain_menu_prix_anim_2 .price, .section .contain_menu_prix_anim_1 .price {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section .contain_menu_prix .anim_1, .section .contain_menu_prix_anim_4 .anim_1, .section .contain_menu_prix_anim_3 .anim_1, .section .contain_menu_prix_anim_2 .anim_1, .section .contain_menu_prix_anim_1 .anim_1 {
  animation: apparition 0.8s ease-out;
}
.section .contain_menu_prix .anim_2, .section .contain_menu_prix_anim_4 .anim_2, .section .contain_menu_prix_anim_3 .anim_2, .section .contain_menu_prix_anim_2 .anim_2, .section .contain_menu_prix_anim_1 .anim_2 {
  animation: apparition 0.8s ease-out;
}
.section .contain_menu_prix .anim_3, .section .contain_menu_prix_anim_4 .anim_3, .section .contain_menu_prix_anim_3 .anim_3, .section .contain_menu_prix_anim_2 .anim_3, .section .contain_menu_prix_anim_1 .anim_3 {
  animation: apparition 0.8s ease-out;
}
.section .contain_menu_prix:hover, .section .contain_menu_prix_anim_4:hover, .section .contain_menu_prix_anim_3:hover, .section .contain_menu_prix_anim_2:hover, .section .contain_menu_prix_anim_1:hover {
  justify-content: none;
}
.section .contain_menu_prix:hover .animation, .section .contain_menu_prix_anim_4:hover .animation, .section .contain_menu_prix_anim_3:hover .animation, .section .contain_menu_prix_anim_2:hover .animation, .section .contain_menu_prix_anim_1:hover .animation {
  width: 65px;
  display: flex;
}
.section .contain_menu_prix:hover .fa-check-circle, .section .contain_menu_prix_anim_4:hover .fa-check-circle, .section .contain_menu_prix_anim_3:hover .fa-check-circle, .section .contain_menu_prix_anim_2:hover .fa-check-circle, .section .contain_menu_prix_anim_1:hover .fa-check-circle {
  transform: rotate(360deg);
  transition: 0.8s;
}
.section .contain_menu_prix_anim_1 {
  animation: apparition 0.8s ease-out;
}
.section .contain_menu_prix_anim_2 {
  animation: apparition 1s ease-out;
}
.section .contain_menu_prix_anim_3 {
  animation: apparition 1.3s ease-out;
}
.section .contain_menu_prix_anim_4 {
  animation: apparition 1.6s ease-out;
}
@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.section h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 13px 0px 5px 10px;
}
.section p {
  margin-right: 10px;
  margin: 0px 0px 13px 10px;
}
.section .contain_menu_prix_title {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}
.section .contain_menu_prix_title p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 3px;
  font-size: 0.9rem;
  font-weight: 100;
}
.section p {
  align-self: flex-end;
  margin-right: 20px;
  font-weight: 600;
}
.section button {
  border-radius: 30px;
  padding: 18px 15px;
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  width: 200px;
  text-align: center;
  display: flex;
  margin: 55px auto;
  justify-content: center;
}
.section i {
  display: block;
}
.section .animation {
  overflow: hidden;
  width: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #99e2d0;
  transition: width 0.8s linear;
}

.localisation input {
  height: 20px;
  width: 130px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 300;
  color: black;
}
.localisation input ::placeholder {
  font-size: 2.5rem;
  font-weight: 400;
}
.localisation input:focus {
  outline: none;
}
.localisation input:hover::placeholder {
  color: lightgrey;
}

.preloader {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: black;
  opacity: 0.6;
  overflow: hidden;
  z-index: 3;
  -webkit-animation-name: loading;
  animation-name: loading;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: blue;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 2s linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: black;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: red;
  -webkit-animation: spin 0.75s linear infinite;
  animation: spin 0.75s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading {
  0% {
    height: 100%;
  }
  99% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
@keyframes loading {
  0% {
    height: 100%;
  }
  99% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

/*# sourceMappingURL=index.css.map */
