@import "./settings.scss";
@import "./components/header.scss";
@import "./components/topPage.scss";
@import "./components/BlocFonctionnement";
@import "./components/ChoiceRestaurants";
@import "./components/footer";
@import "./components/pages/menuFrançais/imgTopMenu.scss";
@import "./components/pages/menuFrançais/menu.scss";
